html,body{
    width:100%;
    background-color:rgb(37,75,75);
}
.centerDiv{
    display:flex;
    width:80%;
    margin: 5px auto 0%;
}
.addUserForm, .addUserList{
    border: solid white 1px;
    background-color: rgb(20, 18, 41);
    color: white;
    border-radius: 5px;
}
.addUserForm{
    width: 40%;
}
.addUserList{
    width: 60%;
    margin: 0px 5px 5px;
}
.clientInfos{
    display: none;
}
.tableTitle{
    background-color:rgb(37,75,75);
}
.tableListAddedUser td{
    width: 10%;
}
.addUserForm form{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.formAddUser input{
    height: 10%;
    width: 55%;
    margin-right: 17%;
}
.formAddUser select{
    margin-right: 17%;
}
.clientInfos button{
    border: solid white 1px;
    border-radius: 2px;
    height: 50%;
    margin-right: 17%;
}
.clientInfos button:hover{
    background-color: orange;
}

