html,body{
    width:100%;
    height:99%;
    margin:0;
    background-color:rgb(37,75,75);
}
.headerDiv{
    width:100%;
    height:10%;
}
.buttonMenu{
    width:100%;
    height:50%;
}
.menu{
    width:100%;
    height:50%;
    background-color: rgb(20, 18, 41);
    border: solid 1px white;
    border-radius: 5px;
}
.menu ul{
    display:flex;
    list-style-type:none;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:2px;
}
.menu li{
    margin-left:15px;
}
.menu a{
    font-size:1em;
    color:white;
    text-decoration:none;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.menu a:hover{
    background-color: grey;
}
.menu a:focus{
    background-color: grey;
    border-top: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    border-radius: 5px;
}
.centerDiv{
    display:flex;
    width:100%;
    height:80%;
    margin-top:5px;
}
.addUserList{
    border: solid white 1px;
    background-color: rgb(20, 18, 41);
    color: white;
    border-radius: 5px;
}
.addUserList{
    width: 99%;
    height: 98%;
    margin: 5px;
    margin-top: 0px;
}
.tableTitle{
    background-color:rgb(37,75,75);
}
td{
    text-align: center;
}
input{
    height: 10%;
    width: 95%;
}
.centerDiv button{
    border: solid white 1px;
    border-radius: 2px;
    height: 50%;
    margin-right: 17%;
}
button:hover{
    background-color: orange;
}
footer{
    width:100%;
    height:10%;
    border: solid white 1px;
    border-radius: 5px;
}

