html,body{
    width:100%;
    background-color:rgb(37,75,75);
}
.centerDiv{
    display:flex;
    width:80%;
    margin: 0% auto;
    margin-top: 1%;
    color: white;
    justify-content: space-between;
}
#offensive , #deffensive{
    margin-top: 10px;
    background-color: rgb(20, 18, 41);
    width: 28%;
}
#ratingDate{
    margin-top: 10px;
    width: 10%;
}
::-webkit-scrollbar {
    background-color: hsl(235, 24%, 19%);
    width: 5px;
}
table label{
    margin-left: 3px;
}
h3{
    margin: 0;
    text-align: right;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.firstRow td {
    border-top: 1px solid white;
}
td{
    text-align: left;
}
button{
    border: solid white 1px;
    border-radius: 1%;
}
button:hover{
    background-color: orange;
}

